/* CSS DOC */
/*- Стили */
body {
font-family: 'Roboto', sans-serif;
background-color: #1C1C1C;
color: #fff;
}

a  {
color: #fff;
text-decoration: none;
}

ul {
list-stye: none;
padding: 0;
margin: 0;
}

.btn {
position: absolute;
width: 91px;
height: 19px;
left: 1242px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

/*- Шапка */

.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo{

}

.header-nav {

}

.header-nav a {
 font-size: 14px;
 opacity: 0.7;
}

.header-nav a.active {
 opacity: 1;
}

.header-list {
display: flex;
gap: 30px;
}


